#info {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	position: relative;
	padding: .75rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 1);
	z-index: 2;

	.row {
		display: flex;
    gap: 2rem;

		> div {
			flex: 1;
			display: flex;
			flex-direction: column;
			font-weight: 300;
			font-size: 1.5rem;
			color: inherit;
			text-align: left;
		}

		button {
			font-weight: 300;
			font-size: 1.5rem;
			color: inherit;
			text-align: left;
			overflow: hidden;
			position: relative;
			align-self: flex-start;

			@media screen and (max-width: 600px) {
				width: unset;
			}

			&::before, &::after {
				position: absolute;
				top: 0;
				left: 0;
				color: inherit;
				background-color: rgba(0, 0, 0, 1);
				transition: transform .3s ease;
				width: 100%;
			}

			&::before {
				content: 'Info ✶';
				transform: translateY(0%);
			}

			&::after {
				content: 'About Me ↓';
				transform: translateY(100%);
				display: flex;
			}

			&:hover{
				&::before {
					transform: translateY(-100%);
				}
				&::after {
					transform: translateY(0%);
				}
			}
		}

		.links-cont {
			.links {
				display: flex;
				justify-content: space-between;

				a {
					color: inherit;
					font-weight: 300;
					font-size: 1.5rem;
					text-align: left;
					transition: filter .3s ease-out;
					padding-right: .5rem;
				}

				@media screen and (min-width: 600px) {

					&:hover {
						a {
							filter: blur(.125rem);

							&:hover {
								filter: blur(0);
							}
						}
					}
				}

				@media screen and (max-width: 600px) {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}

		.desc {
			display: block;

			span {
				display: inline;
				color: #888888;
			}
		}

		&:nth-child(2) {
			h4 {
				align-self: flex-end;
			}
		}

		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
	}

	.row:nth-child(2) > div:nth-child(1) span {
		color: #a1a1a1;
	}

	@media screen and (max-width: 600px) {
		height: unset;
		min-height: 100vh;
		padding: 1rem;
		gap: 2rem;
	}
}